form{
    display:flex;
    flex-flow:column wrap;
}
form>*{
    max-width:250px;
    margin:5px auto;
}

input{
    padding:6px 12px;
    border:thin grey double;
    transition:all .3s ease;
    font-size:18px;
    color:rgb(5, 33, 95);
}
input:hover, input:focus{
    padding:6px 12px;
    border:thin black dotted;
    transform: scale(1.05);
}

.hidden {

    display: none;
}

